* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form-controls {
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  width: 700px;

  .form-field {
    .form-list {
      display: flex;
      flex-direction: column;

      .form-info {
        justify-content: space-between;
        display: flex;
      }
      .form-address {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
.css-1wc848c-MuiFormHelperText-root {
  margin-left: unset !important;
}
